{
  "LockingChain": {
    "RewardAccount": "{{ locking_reward_account }}",
    "SubmitAccount": "{{ locking_submit_account }}"
  },
  "IssuingChain": {
    "RewardAccount": "{{ issuing_reward_account }}",
    "SubmitAccount": "{{ issuing_submit_account }}"
  },
  "SigningKeyAccount": "{{ signing_key_account }}"
}
