version: "3.9"
services:

  locking_chain:
    container_name: locking_chain
    image: mvadariripple/rippled-xbridge
    command: "--conf /etc/opt/ripple/rippled.cfg -a"
    volumes:
      - ${XCHAIN_CONFIG_DIR}/locking_chain:/etc/opt/ripple/
    ports:
      - 5005:5005
      - 6005:6005
      - 6006:6006
    networks:
     bridge-net:
       ipv4_address: 192.168.176.2

  issuing_chain:
    container_name: issuing_chain
    image: mvadariripple/rippled-xbridge
    command: "--conf /etc/opt/ripple/rippled.cfg -a"
    volumes:
      - ${XCHAIN_CONFIG_DIR}/issuing_chain:/etc/opt/ripple/
    ports:
      - 5006:5006
      - 6007:6007
      - 6008:6008
    networks:
      bridge-net:
        ipv4_address: 192.168.176.3

  witness0:
    container_name: witness0
    image: mvadariripple/xbridge-witness
    command: "/opt/witness/witness.json"
    volumes:
      - ${XCHAIN_CONFIG_DIR}/witness0:/opt/witness/
    ports:
      - "6010:6010"
    networks:
      bridge-net:
        ipv4_address: 192.168.176.4

  witness1:
    container_name: witness1
    image: mvadariripple/xbridge-witness
    command: "/opt/witness/witness.json"
    volumes:
      - ${XCHAIN_CONFIG_DIR}/witness1:/opt/witness/
    ports:
      - "6011:6011"
    networks:
      bridge-net:
        ipv4_address: 192.168.176.5

  witness2:
    container_name: witness2
    image: mvadariripple/xbridge-witness
    command: "/opt/witness/witness.json"
    volumes:
      - ${XCHAIN_CONFIG_DIR}/witness2:/opt/witness/
    ports:
      - "6012:6012"
    networks:
      bridge-net:
        ipv4_address: 192.168.176.6

  witness3:
    container_name: witness3
    image: mvadariripple/xbridge-witness
    command: "/opt/witness/witness.json"
    volumes:
      - ${XCHAIN_CONFIG_DIR}/witness3:/opt/witness/
    ports:
      - "6013:6013"
    networks:
      bridge-net:
        ipv4_address: 192.168.176.7

  witness4:
    container_name: witness4
    image: mvadariripple/xbridge-witness
    command: "/opt/witness/witness.json"
    volumes:
      - ${XCHAIN_CONFIG_DIR}/witness4:/opt/witness/
    ports:
      - "6014:6014"
    networks:
      bridge-net:
        ipv4_address: 192.168.176.8

networks:
  bridge-net:
    name: bridge-net
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.176.0/20
          gateway: 192.168.176.1
