{
  "LockingChain": {
    "Endpoint": {
      "IP": "0.0.0.0",
      "JsonRPCPort": {{ locking_node_port }}
    },
    "DoorAccount": {
      "Address": "{{ locking_door_account }}",
      "Seed": "{{ locking_door_seed }}",
      "KeyType": "ed25519"
    },
    "BridgeIssue": "{{ locking_issue }}",
    "WitnessRewardAccounts": [
      "{{ locking_reward_accounts | join("\",\n      \"") }}"
    ],
    "WitnessSubmitAccounts": [
      "{{ locking_submit_accounts | join("\",\n      \"") }}"
    ]
  },
  "IssuingChain": {
    "Endpoint": {
      {% if is_linux %}
      "IP": "0.0.0.0",
      {% else %}
      "IP": "0.0.0.0",
      {% endif %}
      "JsonRPCPort": {{ issuing_node_port }}
    },
    "DoorAccount": {
      "Address": "{{ issuing_door_account }}",
      "Seed": "{{ issuing_door_seed }}",
      "KeyType": "ed25519"
    },
    "BridgeIssue": "{{ issuing_issue }}",
    "WitnessRewardAccounts": [
      "{{ issuing_reward_accounts | join("\",\n      \"") }}"
    ],
    "WitnessSubmitAccounts": [
      "{{ issuing_submit_accounts | join("\",\n      \"") }}"
    ]
  },
  "Witnesses": {
    "SignerList": [
    {% for account in signing_accounts %}
      {
        "Account": "{{ account }}",
        "Weight": 1
      }
      {%- if not loop.last -%}
      ,
      {% endif %}
    {% endfor +%}
    ]
  }
}
