{
  "locking_chain_door": {
    "id": "{{ locking_chain_id }}",
    "seed": "{{ locking_chain_seed }}"
  },
  "issuing_chain_door": {
    "id": "{{ issuing_chain_id }}",
    "seed": "{{ issuing_chain_seed }}"
  },
  "witness_reward_accounts": {{ witness_reward_accounts | list | tojson }}
}
