{
  "LockingChain": {
    "Endpoint": {
      {% if is_docker %}
      "IP": "192.168.176.2",
      {% else %}
      "IP": "127.0.0.1",
      {% endif %}
      "Port": {{ locking_chain_port }}
    },
    "TxnSubmit": {
      "ShouldSubmit": true,
      "SigningKeySeed": "{{ locking_reward_seed }}",
      "SigningKeyType": "ed25519",
      "SubmittingAccount": "{{ locking_reward_account }}"
    },
    "RewardAccount": "{{ locking_reward_account }}"
  },
  "IssuingChain": {
    "Endpoint": {
      {% if is_docker %}
      "IP": "192.168.176.3",
      {% elif is_linux %}
      "IP": "127.0.0.2",
      {% else %}
      "IP": "127.0.0.1",
      {% endif %}
      "Port": {{ issuing_chain_port }}
    },
    "TxnSubmit": {
      "ShouldSubmit": true,
      "SigningKeySeed": "{{ issuing_reward_seed }}",
      "SigningKeyType": "ed25519",
      "SubmittingAccount": "{{ issuing_reward_account }}"
    },
    "RewardAccount": "{{ issuing_reward_account }}"
  },
  "RPCEndpoint": {
    {% if is_docker %}
    "IP": "0.0.0.0",
    {% elif is_linux %}
    "IP": "127.0.0.3",
    {% else %}
    "IP": "127.0.0.1",
    {% endif %}
    "Port": {{ witness_port }}
  },
  "DBDir": "{{ db_dir }}",
  "SigningKeySeed": "{{ seed }}",
  "SigningKeyType": "ed25519",
  "XChainBridge": {
    "LockingChainDoor": "{{ src_door }}",
    "LockingChainIssue": {{ src_issue }},
    "IssuingChainDoor": "{{ dst_door }}",
    "IssuingChainIssue": {{ dst_issue }}
  }
}
