{
  "LockingChainEndpoint": {
    "IP": "127.0.0.1",
    "Port": {{ mainchain_port }}
  },
  "IssuingChainEndpoint": {
    {% if is_linux -%}
    "IP": "127.0.0.2",
    {% else -%}
    "IP": "127.0.0.1",
    {%- endif %}
    "Port": {{ sidechain_port }}
  },
  "RPCEndpoint": {
    {% if is_linux -%}
    "IP": "127.0.0.3",
    {% else -%}
    "IP": "127.0.0.1",
    {%- endif %}
    "Port": {{ witness_port }}
  },
  "DBDir": "{{ db_dir }}",
  "SigningKeySeed": "{{ seed }}",
  "SigningKeyKeyType": "ed25519",
  "LockingChainRewardAccount": "{{ locking_reward_account }}",
  "IssuingChainRewardAccount": "{{ issuing_reward_account }}",
  "XChainBridge": {
    "LockingChainDoor": "{{ src_door }}",
    "LockingChainIssue": "{{ src_issue }}",
    "IssuingChainDoor": "{{ dst_door }}",
    "IssuingChainIssue": "{{ dst_issue }}"
  }
}
